# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Qt Moc generator
moc_*.cpp
moc_*.c++
moc_*.cxx
moc_*.cc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
